<!DOCTYPE html>
<html>
    <head>
        <title>CSPTA Sign In :: Error</title>
    </head>
    <body>
        <script>
            setTimeout(function() { window.location.href = '/'; }, 5000);
        </script>
        <h1>Error</h1>
        <p>Unfortunately, we were unable to sign you in because {{errmsg}}</p>
        {{#debug}}
        <p>Stacktrace:</p>
        <code>{{stacktrace}}</code>
        {{/debug}}
        <p>This page will automatically redirect in 5 seconds.</p>
    </body>
</html>
