<!DOCTYPE html>
<html>
    <head>
        <title>CSPTA Sign In :: Hall of Fame</title>
    </head>
    <body>
        <h1>Hall of Fame</h1>
        <p>Currently, {{fullattn}} TA(s) have a 100% attendance rate.</p>
        <h2>Top 3 TAs</h2>
        <ol>
            {{#topthree}}
            <li>{{.}}</li>
            {{/topthree}}
        </ol>
    </body>
</html>
