<!DOCTYPE html>
<html>
    <head>
        <title>CSPTA Hall of Fame :: Error</title>
    </head>
    <body>
        <script>
            setTimeout(function() { window.location.href = '/'; }, 5000);
        </script>
        <h1>Error</h1>
        <p>An error occurred when trying to load the Hall of Fame. Please try again later.</p>
        {{#debug}}
        <p>Stacktrace:</p>
        <code>{{stacktrace}}</code>
        {{/debug}}
        <p>This page will automatically redirect in 5 seconds.</p>
    </body>
</html>
